<% provide(:title, "Forgot Password") %>
<h1> Forgot Password </h1>

<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |m| %>
      <%= m.label :email %>
      <%= m.email_field :email, class: 'form_control' %>

      <%= m.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
