<% provide(:title, 'Edit User') %>
<% provide(:button_text, 'Save Changes') %>
<h1> Update Profile </h1>

<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
