

<!DOCTYPE html>
<html>
<body>



<!--mood meter button -->
<button class ="button" id ="mm" onclick="myFunction('showMoodMeter','profile','log','info')">Mood Meter</button>
<div class ="hidden" id="showMoodMeter"> 
  <h1> Plot where you're currently at: </h1> 
    <%= image_tag 'mood_meter.png' %> 
</div>

<!--profile button -->

<button class ="button" id ="profile" onclick="myFunction('showProfile','mm','log','info')">Profile</button>
<div class ="hidden" id="showProfile"> 
    <h1> You are: <%= @user.name %> </h1>
    <h1> Your personal mantra is: <%= render @mantra %>
    </h1>
    <p> And you're absolutely right, you're brilliant!</p>
    
</div>


<!--log button -->
<button class ="button" id ="log" onclick="myFunction('showLog','profile','mm','info')">Log</button>
<div class ="hidden" id="showLog"> 
    <h1> Proof of Your Incredible Progress </h1>
    
    <div class="daysofweek">
        <span> M </span>
        <span> T </span>
        <span> W </span>
        <span> Th </span>
        <span> F </span>
        <span> S </span>
        <span> Su </span>
    </div>
    
    <div class="months">
    <article class="month0">
      <span> July </span>
      <div id="entry0"> </div>
      <div id="entry1"> </div>
      <div id="entry2"> </div>
      <div id="entry3"> </div>
      <div id="entry4"> </div>
      <div id="entry5"> </div>
      <div id="entry6"> </div>
      <div id="entry7"> </div>
      <div id="entry8"> </div>
      <div id="entry9"> </div>
      <div id="entry10"> </div>
      <div id="entry11"> </div>
      <div id="entry12"> </div>
      <div id="entry13"> </div>
      <div id="entry14"> </div>
      <div id="entry15"> </div>
      <div id="entry16"> </div>
      <div id="entry17"> </div>
      <div id="entry18"> </div>
      <div id="entry19"> </div>
      <div id="entry20"> </div>
      <div id="entry21"> </div>
      <div id="entry22"> </div>
      <div id="entry23"> </div>
      <div id="entry24"> </div>
      <div id="entry25"> </div>
      <div id="entry26"> </div>
      <div id="entry27"> </div>
      <div id="entry28"> </div>
      <div id="entry29"> </div>
      <div id="entry30"> </div>
      <div id="entry31"> </div>
    </article>

    <article class="month1">
      <span> June </span>
      <div id="entry0"> </div>
      <div id="entry1"> </div>
      <div id="entry2"> </div>
      <div id="entry3"> </div>
      <div id="entry4"> </div>
      <div id="entry5"> </div>
      <div id="entry6"> </div>
      <div id="entry7"> </div>
      <div id="entry8"> </div>
      <div id="entry9"> </div>
      <div id="entry10"> </div>
      <div id="entry11"> </div>
      <div id="entry12"> </div>
      <div id="entry13"> </div>
      <div id="entry14"> </div>
      <div id="entry15"> </div>
      <div id="entry16"> </div>
      <div id="entry17"> </div>
      <div id="entry18"> </div>
      <div id="entry19"> </div>
      <div id="entry20"> </div>
      <div id="entry21"> </div>
      <div id="entry22"> </div>
      <div id="entry23"> </div>
      <div id="entry24"> </div>
      <div id="entry25"> </div>
      <div id="entry26"> </div>
      <div id="entry27"> </div>
      <div id="entry28"> </div>
      <div id="entry29"> </div>
      <div id="entry30"> </div>
      <div id="entry31"> </div>
    </article>
        <article class="month2">
      <span> May </span>
      <div id="entry0"> </div>
      <div id="entry1"> </div>
      <div id="entry2"> </div>
      <div id="entry3"> </div>
      <div id="entry4"> </div>
      <div id="entry5"> </div>
      <div id="entry6"> </div>
      <div id="entry7"> </div>
      <div id="entry8"> </div>
      <div id="entry9"> </div>
      <div id="entry10"> </div>
      <div id="entry11"> </div>
      <div id="entry12"> </div>
      <div id="entry13"> </div>
      <div id="entry14"> </div>
      <div id="entry15"> </div>
      <div id="entry16"> </div>
      <div id="entry17"> </div>
      <div id="entry18"> </div>
      <div id="entry19"> </div>
      <div id="entry20"> </div>
      <div id="entry21"> </div>
      <div id="entry22"> </div>
      <div id="entry23"> </div>
      <div id="entry24"> </div>
      <div id="entry25"> </div>
      <div id="entry26"> </div>
      <div id="entry27"> </div>
      <div id="entry28"> </div>
      <div id="entry29"> </div>
      <div id="entry30"> </div>
      <div id="entry31"> </div>
    </article>

        <article class="month3">
      <span> April </span>
      <div id="entry0"> </div>
      <div id="entry1"> </div>
      <div id="entry2"> </div>
      <div id="entry3"> </div>
      <div id="entry4"> </div>
      <div id="entry5"> </div>
      <div id="entry6"> </div>
      <div id="entry7"> </div>
      <div id="entry8"> </div>
      <div id="entry9"> </div>
      <div id="entry10"> </div>
      <div id="entry11"> </div>
      <div id="entry12"> </div>
      <div id="entry13"> </div>
      <div id="entry14"> </div>
      <div id="entry15"> </div>
      <div id="entry16"> </div>
      <div id="entry17"> </div>
      <div id="entry18"> </div>
      <div id="entry19"> </div>
      <div id="entry20"> </div>
      <div id="entry21"> </div>
      <div id="entry22"> </div>
      <div id="entry23"> </div>
      <div id="entry24"> </div>
      <div id="entry25"> </div>
      <div id="entry26"> </div>
      <div id="entry27"> </div>
      <div id="entry28"> </div>
      <div id="entry29"> </div>
      <div id="entry30"> </div>
      <div id="entry31"> </div>
    </article>
  </div>


</div>



<!--info button -->
<button class ="button" id ="info" onclick="myFunction('showInfo','profile','log','mm')">?</button>

<div class ="hidden" id="showInfo"> 
  <p>The Mood Meter is a tool developed by Yale Center for Emotional Intelligence over decades of research. The very act of recognizing where you're at emotionally provides clarity and reduces stress build-up. 

  <br><br>
  Mirrim's personalized prompts then equip you with a problem-solving mindset. The eventual goal is for you to be in control of your thoughts and feelings - at which point there's really nothing you can't do!
<br><br><br>
  Guide:
  <br>
  Say your Mantra to activate the mirror. 
  <br><br>
  If you've forgotten your Mantra or want to change it, press "Profile". 
  <br><br>
  Press "Mood Meter" to plot your mood, add explanations, and follow our prompt.
  <br><br>
  Press "Log" to see a record of past moods. 

  </p>

</div>



<script>
function myFunction(id1, id2, id3, id4) {
  var e = document.getElementById(id1);
  var f = document.getElementById(id2);
    var g = document.getElementById(id3);
      var h = document.getElementById(id4);

  if (e.style.display =='block') {
    e.style.display = 'none';
    f.style.display = 'block';
    g.style.display = 'block';
    h.style.display = 'block';
    }

  else {
    e.style.display = 'block';
    f.style.display = 'none';
    g.style.display = 'none';
    h.style.display = 'none';
}

}


</script>

</body>
</html>

