// Place all the styles related to the Mantras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.timestamp {
	font-size: 20px;
}


span.content {
	background-color: white;
	color: black;
	font-size:40px;
	padding: 10px;
	border-radius: 10px;
	}